/* regular customers */
.clients {
    &__tageline {
        font-size: 28px;
        line-height: 1.17;
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--tagline-gray-cl);
        margin-top: 0;
        margin-bottom: 50px;
    }
      &__link {
        padding-top: 16px;
        padding-bottom: 16px;
        min-width: 100%;
        border-radius: 4px;
        border: 1px solid var(--color-social-icon-team);
        display: flex;
        align-items: center;
        justify-content: center;

        color: var(--color-social-icon-team);

        transition-property: color, border-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    

    &__icon {
        fill: currentColor;
    }

    &__link:hover,
    &__link:focus,
    &__icon:hover,
    &__icon:focus {
        color: var(--base-blue-color);
    }

    &__link:hover,
    &__link:focus {
        border-color: var(--base-blue-color);
    }
 
    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        align-items: center;
        justify-content: space-around;
    }
    // @media screen and (min-width: 480px) {
    //     &__element {
    //         width: 210px;
    //     }
    // }

    @media screen and (max-width: 767px) {
        &__element {
            max-width: 210px;  
            min-width: 180px;  
        }
        
    }

    @media screen and (min-width: 768px) {
        &__element {
            width: 226px;
        }
        
    }

    @media screen and (min-width: 1200px) {
        &__element {
            width: 170px;
        }
        

        &__tageline {
            font-size: 36px;
        }
    }

  
}