/* футер */
.site-bottom {
    background-color: var(--bk-cl-darkgray);
    text-align: center;

    & .list {
        justify-content: center
    }
      

    &__element {
        margin-bottom: 8px;
    }

    &__element:last-child {
        margin-bottom: 0;
    }

    &__nav,
    &__social {
        margin-bottom: 60px;
    }
    

    &__adress {
        text-decoration: none;
        line-height: 1.71;
        color: var(--hover-txt-btn);

        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__adress:hover,
    &__adress:focus {
        color: var(--base-blue-color);

    }

    &__email,
    &__tel {
        text-decoration: none;
        color: var(--txt-gray-color);
        line-height: 1.71;

        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__email:hover,
    &__tel:hover,
    &__email:focus,
    &__tel:focus {
        color: var(--base-blue-color);
    }
    @media screen and (min-width: 768px) {
        &__container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }
    }
    @media screen and (min-width: 1200px) {
       
        .form__site-bottom {
            flex-wrap: nowrap;
        }
        .form__input-email {
            margin-left: 12px;
        }
         &__nav {
            text-align: left;
         }
    }

    // &__container {
    //     display: flex;
    //     align-items: baseline;
    // }

    // &__social {
    //     margin-left: 70px;
    // }
    // &__form {
    //     margin-left: 93px;
    // }
}