.hat {
    padding-top: 118px;
    padding-bottom: 118px;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;

    background-color: var(--bk-cl-darkgray);
    text-align: center;
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    background-image: linear-gradient( rgba(47, 48, 58, 0.4),  rgba(47, 48, 58, 0.4)), url(../images/background/header-mob.jpg);

// мобільна версія ретіни
    @media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    background-image: linear-gradient( rgba(47, 48, 58, 0.4),  rgba(47, 48, 58, 0.4)), url(../images/background/header-mob@2x.jpg);
  }
 

    @media screen and (min-width: 786px) {
        background-image: linear-gradient( rgba(47, 48, 58, 0.4),  rgba(47, 48, 58, 0.4)), url(../images/background/header-tab.jpg);
        
        @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
         (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: linear-gradient( rgba(47, 48, 58, 0.4),  rgba(47, 48, 58, 0.4)), url(../images/background/header-tab@2x.jpg);
  }
    }

    @media screen and (min-width: 1200px) {
            background-image: linear-gradient( rgba(47, 48, 58, 0.4),  rgba(47, 48, 58, 0.4)), url(../images/background/header-des.jpg);

            @media (min-device-pixel-ratio: 2),
             (-webkit-min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
            background-image: linear-gradient( rgba(47, 48, 58, 0.4),  rgba(47, 48, 58, 0.4)), url(../images/background/header-des@2x.jpg);
  }
        }
        
  
    &__tagline {
        width: calc((100% - 2*30px)/1);
        padding-left: 30px;
        padding-right: 30px;
        margin: 0 auto 30px;
        text-align: center;
        
        color: var(--hover-txt-btn);
        font-weight: 900;
        font-size: 26px;           
        line-height: 1.62;         
        letter-spacing: 0.06em;
        text-transform: uppercase;
       
    }
    @media screen and (min-width: 1200px) {
        &__tagline {
            width: 696px;
            font-size: 44px;
            line-height: 1.36;
        }
    }
}

@media screen and (min-width: 1200px) {
    .hat {
            padding-top: 200px;
            padding-bottom: 200px;

        }
    }
