// червертий паршал
.site-top {
    &__list,
    &__nav,
    &__container {
        display: flex;
    }
    &__list {
        margin-left: 93px;
    }
    &__nav,
    &__container {
        align-items:center;
    }
    &__connection {
        margin-left: auto;
    }

    &__list .list__menu:not(:last-child) {
        margin-right: 50px;
    }
   
    &__portfolio,
    &__studio, 
    &__contacts {
        display: block;
        padding-top: 32px;
        padding-bottom: 32px;
    }

    &__studio, 
    &__portfolio, 
    &__contacts {
        font-weight: 500;
        color: var(--txt-darkgray-color);
        font-size: 14px;
        line-height: 1.14;

        transition-property:color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
           
    &__studio:hover, 
    &__portfolio:hover, 
    &__contacts:hover,
    &__studio:focus, 
    &__portfolio:focus, 
    &__contacts:focus {
        color: var(--base-blue-color); 
    }
    
    &__element {
        position: relative;
    }
    &__btn {
        display: flex;
        padding: 12px 8px;
        cursor: pointer;
        z-index: 1000;

        background-color: transparent;
        border: none;

        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    &__btn:hover,
    &__btn:focus {
        fill: var(--base-blue-color);
    }
    
    &__close-burger-menu {
	transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

	.site-top__btn.is-open & {
		opacity: 0;
        
	}
}

    &__burger-menu {
	opacity: 0;
	transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

	.site-top__btn.is-open & {
		opacity: 1;
	}
}
}

@media screen and (max-width: 767px) {
    .site-top__list,
    .site-top__connection {
        display: none;
    }
    
    .site-top__container {
       justify-content: space-between;
    }
    .site-top__logo {
        padding-top: 16px;
        padding-bottom: 16px;
    }

}
@media screen and (min-width: 768px) {
    .site-top__list {
        display: flex;
    }
    .site-top__connection {
        display: block;
    }
    .site-top__email {
        padding-bottom: 10px;
    }
    .site-top__btn {
        display: none;
    }
    
    
}
@media  screen and (min-width: 1200px) {
    .site-top__connection .list__menu + .list__menu {
        margin-left: 30px;
    }
    .site-top__connection {
        display: flex;
    } 
    
}

