.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1100;

    max-width: 450px; //528px;
    min-height: 581px;

    background-color: var(--hover-txt-btn);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    &__form {
        padding: 40px;
    }

    &__tag {
        margin-bottom: 12px;

        font-weight: 700;
        font-size: 20px;
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--tagline-gray-cl);
    }
}
@media screen and (min-width: 480px) {
    .modal {
        width: 450px;
    }    
}

@media screen and (min-width: 1200px) {
    .modal {
        width: 528px;
    }
    
}