/*start section peculiarities */
.peculiarities {

    &__list {
        display: flex;
    }

    &__list &__ideas + &__ideas {
        margin-left: 30px;
    }

    &__ideas {
        min-width: 270px;
    }

    &__icon {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
        background-color: var(--icon-fon);
        /* width: 270px; */
        height: 120px;
    }

    &__tagline {
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--tagline-gray-cl);
        margin-top: 0;
        margin-bottom: 10px;
    }

    &__detailing {
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        margin: 0;
    }
}
/* end section peculiarities */