/* портфолио */
.progect {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    &__name {
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.03em;  
        color: var(--txt-darkgray-color);
        margin-top: 0;
        margin-bottom: 4px;
    }

    &__element { 
        // margin-bottom: 30px;
        // margin-left: 30px;
        width: 450px;   
    }
    
    &__link {
        position: relative;
        display: block;
        overflow: hidden;
        
        color: currentColor;
        text-decoration: none;
        transition:  box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
        
    }
    &__link:hover,
    &__link:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }

    &__link:hover .overlay__tagline,
    &__link:focus .overlay__tagline {
        transform:scaleY(100%);
        opacity: 1;
    }
    &__picture {
        width: 100%;
    }

    &__container {
        padding: 20px 24px;
        border: solid 1px var(--pr-br-cl);
        border-top: none;
    }
    &__description {
        line-height: 1.88;
        letter-spacing: 0.03em;
        font-size: 16px;
        margin: 0;
    }
}
@media screen and (max-width: 767px) {
    .progect__element { 
        margin-bottom: 30px;
}
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .progect {
        gap: 30px;
    }
    .progect__element {
         
        width: 354px;  
        
    }

}
@media screen and (min-width: 1200px) {
    .progect__element { 
        margin-bottom: 30px;
        margin-left: 30px;
        width: 370px;
}
    .progect__element:nth-last-child(-n + 3) {
        margin-bottom: 0; 
    }

    .progect__element:nth-child(3n + 1) {
        margin-left: 0; 
    }
}

/* конец контента странички портфолио */