/*start section we doing */
.proffer {
    @media screen and (max-width: 1199px) {
        display: none;
    }

    &__tageline {
        font-size: 36px;
        line-height: 1.17;
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--tagline-gray-cl);

        margin-top: 0;
        margin-bottom: 50px;
    }

    &__list {
        display: flex;
    }

    &__paragraf {
        position: relative;
    }

    &__list &__paragraf + &__paragraf {
        margin-left: 30px;
    }

    &__picture {
        cursor: pointer;

        transition-property: filter;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    }

    &__picture:hover {
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }

    &__description {
        position: absolute;

        width: 100%;
        display: flex;
        height: 70px;
        align-items: center;
        justify-content: center;

        bottom: 0;
        pointer-events: none;

        font-weight: 700;
        text-transform: uppercase;
        color: var(--hover-txt-btn);
        background-color: var(--bkc-p-we-doing);
    }
}

/* end section "we doing" */