.logo {
    color: var(--base-blue-color);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;

 &.bottom {
     margin-bottom: 20px;
     display: inline-block;
}    
 &--top-element {
    color:var(--txt-darkgray-color);
}
 
 &--bottom-element {
    color: var(--hover-txt-btn);
}
}