// перший паршал
:root {
    --bk-color-body: #E5E5E5;
    --border-line-header: #ECECEC;
    --base-blue-color: #2196F3;
    --txt-gray-color: #757575;
    --txt-darkgray-color: #212121;
    --hover-txt-btn: #FFFFFF;
    --bk-cl-btn: #F5F4FA;
    --bk-cl-darkgray:#2F303A;
    --tagline-gray-cl:#212121;
    --bk-hat-blue:#188CE8;
    --pr-br-cl: #EEEEEE;
    --icon-fon: #F5F4FA;
    --color-social-icon-team: #AFB1B8;
    --bkc-p-we-doing: rgba(47, 48, 58, 0.8);

    /* animation */
    --good-anim: 250ms, cubic-bezier(0.4, 0, 0.2, 1);
}